@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&display=swap');
@font-face {
    font-family: 'Spiderman';
    src: url('../Police/Spiderman.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    color: var(--white-color);
    font-family: 'Montserrat';
}

.container-fluid {
    width: 80%;
    margin: 0 auto;
}


/* Couleur utiliser sur noway*/

 :root {
    --spiderman-color: #b11313;
    --Yellow-toile-color: #f1c530;
    --Sayna-blue-color: #114c92;
    --white-color: #ffff;
}

nav,
nav a {
    font-size: 20px;
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--spiderman-color);
}

.Man {
    width: 80%;
    margin: 0 auto;
}


/* Desing premier partie de Apropos */

#toile {
    height: 500px;
    background-color: var(--Yellow-toile-color);
    background-position: center;
    background-size: cover;
}

#toile .apropos :nth-child(1) {
    font-family: 'Spiderman';
    font-size: 80px;
    padding-top: 40%;
}

p {
    font-size: 20px;
}